$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

.user-marker {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 120px;

  .user-marker-icon {
    grid-row: 1;
    height: 25px;
    width: 25px;
    background-color: rgb(174, 0, 255);
    border: 2px solid rgb(211, 115, 255);
    border-radius: 30px;
  }

  p {
    grid-row: 2;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    width: fit-content;
  }
}